    <p>Hi <%= @name %>,</p>
    <p>Thanks for participating in the Beta for #LeashApp!</p>
    <p>Your feedback has been received, and we will reach out to you soon.</p>
    <p>Here is a summary of your submission:
        <br>
        <ul><li>Account: <%= @account %></li>
        <li>Name: <%= @name %></li>
        <li>Email: <%= @email %></li>
        <li>Client: <%= @client %></li>
        <li>Subject: <%= @subject %></li>
        <li>Message: <%= @message %></li>
        </ul>
    </p>
    <p>Feel free to reply to this email with any screenshots or additional details. No further action is required at this time.</p>
    <p>Warmly,
    <br>#LeashApp</p>
    <br><br>
    