<div class="col-md-5 offset-md-3 text-center">
  <h1>Send Referral Email</h1>
  <br>
  <%= form_with model: @client, url: contact_path do |f| %>
    <div class="input-group mb-3 pt-3">
      <div class="input-group-prepend">
        <%= f.label :name, "Name :", class: "input-group-text fw-bold" %>
      </div>
        <%= f.collection_select :client_name, Client.all, :id, :name, {prompt: "None Selected..."}, { :class => "form-control" } %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :email, "Client :", class: "input-group-text fw-bold" %>
        <!--<label class="" for="client_email">Client</label>-->
      </div>
      <% if Current.user.admin? %>
        <%= f.collection_select :client_email, Client.all, :id, :name, {prompt: "None Selected..."}, { :class => "form-control" } %>
      <% else %>
        <%= f.collection_select :client_email, Client.where("account_id = ?", Current.user.account_id), :id, :name, {}, { :class => "form-control" } %>
      <% end %>
    </div>
  
    <!--<div class="mb-3">-->
    <!--  <#%= f.label :email %>-->
    <!--  <#%= f.text_field :email, class: "form-control" %>-->
    <!--</div>-->
    
    <div class="mb-3">
      <%= f.label :message %>
      <%= f.text_area :message, class: "form-control" %>
    </div>
    
    <div class="mb-3">
      <%= f.submit "Send", class: "btn btn-primary form-control" %>
      <br><br>
      <%= submit_tag("Reset", :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn btn-secondary form-control') %>
    </div>
  <% end %>
</div>