<h1>Pets Management</h1>
<hr>

<div class="row">
  <div class="col-auto">
    <h4>Manage <%= Current.user.account.account_name %>'s pets</h4>
  </div>
  <div class="col-auto">
    <%= link_to "New Pet", new_pet_path, class: "btn btn-primary" %>
  </div>
  <div class="col-auto me-auto">
    <%= link_to "Export Pets", "export.csv", class: "btn btn-secondary" %>
  </div>
  <div class="col-auto pt-1">
    <%= form_tag manage_pets_path, method: :get, remote: true do %>
      <%= text_field_tag :query, @query, placeholder: 'name/breed', class: 'ps-1 pe-1' %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>
</div>
<hr>

<div class="col-auto me-auto">
  <div id="pets" class="table-responsive">
    <%= render 'pets_list', pets: @pets %>
  </div>
</div>
