<!--<h1>User X Management</h1>-->
<!--<hr>-->
<!--<h3>Add New User</h3>-->
<!--<hr>-->

<!--<%= form_with model: @user, url: new_user_path do |form| %>-->
<!--  <% if form.object.errors.any? %>-->
<!--    <div class="alert alert-danger" role="alert">-->
<!--      <% form.object.errors.full_messages.each do |message| %>-->
<!--        <div><%= message %></div>-->
<!--      <% end %>-->
<!--    </div>-->
<!--  <% end %>-->
  
  
<!--  <div class="mb-3">-->
<!--    <%= form.label :name %>-->
<!--    <%= form.text_field :name, class: "form-control", placeholder: "Preferred Name" %>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <%= form.label :email %>-->
<!--    <%= form.text_field :email, class: "form-control", placeholder: "zumaico@tainos.org" %>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <%= form.label :password %>-->
<!--    <%= form.password_field :password, class: "form-control", placeholder: "password" %>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <%= form.label :password_confirmation %>-->
<!--    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>-->
<!--  </div>-->
  
<!--  <div class="mb-3">-->
<!--    <%= form.submit "Create User", class: "btn btn-primary" %>-->
<!--  </div>-->
<!--<% end %>-->
