<div class="col-md-6 offset-md-3">
  <h1>Your Profile</h1>
  <hr>
  <h4>Update profile details below</h4>
  <hr>

  <%= form_with model: Current.user, url: user_edit_path do |f| %>
    <% if f.object.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% f.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :account, "Account :", class: "input-group-text fw-bold" %>
      </div>
      <input class="form-control" type="text" value="<%= Current.user.account.account_name %>" aria-label="account" disabled readonly>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :referral_key, "Referral Code :", class: "input-group-text fw-bold" %>
      </div>
      <input class="form-control" type="text" value="<%= Current.user.account.referral_key %>" aria-label="referral_key" disabled readonly>
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :name, "Name :", class: "input-group-text fw-bold" %>
      </div>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :email, "Email :", class: "input-group-text fw-bold" %>
      </div>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="row pb-2 pt-2 mb-3 ps-2 pe-2 d-flex justify-content-between">
      <div class="col-auto me ps-2 pe-2 pb-2">
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
      </div>
      <div class="col-auto ps-2 pe-2">
        <%= link_to "Edit Password", edit_password_path, class: "btn btn-secondary" %>
      </div>
      <div class="col-auto ps-2 pe-2">
        <%= link_to "Reset", user_edit_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
