<div class="col-md-6 offset-md-3">
  <h1>Welcome to #LeashApp</h1>
  <hr>
  <h4>Finalize your account with <%= @account.account_name %> below</h4>
  <hr>
  
  <%= form_with model: @user, url: referral_new_path do |f| %>
    <% if f.object.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% f.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :referral_key, "Account :", class: "input-group-text fw-bold" %>
      </div>
      <%= f.collection_select :account_id, Account.where("referral_key = ?", params[:referral_key]), :id, :account_name, { }, { class: "form-control" } %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :name, "Name :", class: "input-group-text fw-bold" %>
      </div>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :email, "Email :", class: "input-group-text fw-bold" %>
      </div>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :password, "Create Password :", class: "input-group-text fw-bold" %>
      </div>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :password_confirmation, "Confirm Password :", class: "input-group-text fw-bold" %>
      </div>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  
    <div class="row pb-2 pt-2 mb-3 ps-2 pe-2 d-flex justify-content-between">
      <div class="col-auto me ps-2 pe-2 pb-2">
        <%= f.submit "Sign Up", class: "btn btn-primary" %>
      </div>
      <div class="col-auto ps-2 pe-2 pb-2">
        <%= link_to "Not your dogwalker?", feedback_path, class: "btn btn-secondary" %>
      </div>
      <div class="col-auto ps-2 pe-2 pb-2">
        <%= link_to "Reset", referral_new_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
