    <p>Hi <%= @name %>,</p>
    <br>
    <p>Thank you so much for reaching out to #LeashApp!</p>
    <p>Your request has been received, and we will reach out to you soon.</p>
    <p>No further action is required at this time.</p>
    <br>
    <p>Name: <%= @name %></p>
    <p>Email: <%= @email %></p>
    <p>Subject: <%= @subject %></p>
    <p>Message: <%= @message %></p>
    <br>
    <p>Warmly,
    <br>#LeashApp</p>
    <br><br>
    
