<p>Hi there,</p>
<br>
<p><%= @sender %> left you some feedback.</p>
<br>
<p>Name: <%= @name %></p>
<p>Email: <%= @email %></p>
<p>Subject: <%= @subject %></p>
<p>Message: <%= @message %></p>
<br>
<p>Warmly,
<br>#LeashApp</p>
<br><br>
