<div class="row align-items-center">
  <div class="col-auto me">
    <h1><%= @account.account_name %></h1>
  </div>
  <div class="col-auto me-auto">
    <%= link_to "Edit Account", edit_account_path, class: "btn btn-primary" %>
  </div>
  <div class="col-auto">
    <%= link_to "View All Accounts", manage_accounts_path, class: "btn btn-secondary" %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-auto me-auto">
    <span class="fw-bold">Updated:</span> <%= @account.updated_at&.strftime("%m/%d/%Y @%I:%M %p") %>
  </div>
  <div class="col-auto">
    <span class="fw-bold">Created:</span> <%= @account.created_at&.strftime("%m/%d/%Y") %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm me-auto">
    <p class="fw-bold">Logo/Brand/Image:<br>
      <% if @account.account_logo.attached? %>
        <%= image_tag @account.account_logo, class: "img-fluid", alt: "Responsive image" %>
      <% else %>
        <%= image_tag "account-logo.png", class: "img-fluid", alt: "Responsive image" %>
      <% end %>
    </p>
    <p>
      <span class="fw-bold">Account Name:</span>
      <%= @account.account_name %>
    </p>
    <p>
      <span class="fw-bold">Referral Code:</span>
      [<% if @account.referral_key.nil? %>
          <span class="text-danger">*INACTIVE*
        <% else %>
          <span class="text-success"><%= @account.referral_key %>
        <% end %></span>]
    </p>
    <p>
      <span class="fw-bold">Send Referral Email:</span>
      <br><span class="fst-italic">Coming soon!</span>
    </p>
  </div>
  <!--<div class="container">-->
  <!--  <div class="input-group">-->
  <!--    <span class="input-group-addon hidden-xs linkname">-->
  <!--      <strong>Referral Code</strong>-->
  <!--    </span>-->
  <!--    <span id="copyButton" class="input-group-addon btn" title="Click to copy">-->
  <!--      <i class="fa fa-clipboard" aria-hidden="true"></i>-->
  <!--    </span>-->
  <!--    <input type="text" id="copyTarget" value="<#%= @account.referral_key %>">-->
  <!--    <span class="copied">Copied !</span>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="col me-auto">
    <p>
      <span class="fw-bold">Description:</span>
      <br>"<%= @account.account_description %>"
    </p>
    <br>
    <p>
      <span class="fw-bold">Rates:</span>
      <br>$ <%= @account.account_rates %> per Group Walk
    </p>
    <br>
    <p>
      <span class="fw-bold">Administrators (<%= @users.size %>):</span>
      <% @users.each_with_object(@users.last) do |p, last| %>
        <%= p.name %><%= "," unless p == last %>
      <% end %>
    </p>
  </div>
</div>
